<div class="jumbotron">
    <h1 class="display-4">Successful operation!!!</h1>
    <p class="lead">
        <% if(notify === "createUser") {%>
        <strong
            >New user <%=user.fullName %> was created (with _id = <%=user.id
            %>)!</strong
        >
        <% } %> <% if(notify === "updateUser") {%>
        <strong
            >User <%=user.fullName %> (with _id = <%=user.id %>) has been
            updated successfully!
        </strong>
        <% } %> <% if(notify === "deleteUser") {%>
        <strong
            >User <%=user.fullName %> (with _id = <%=user.id %>) has been
            deleted successfully!
        </strong>
        <% } %>
    </p>
    <hr class="my-4" />
    <form action="" method="get">
        <!-- <input type="hidden" name="_csrf" value="<%= csrfToken %>" /> -->
        <button type="submit" class="btn btn-primary btn-block">
            Go to back a UserList
        </button>
    </form>
</div>
